body {
	font-family: 'Open Sans', sans-serif;
}
.round {
	border-radius: 50%;
}

/*Bootstrap overrides*/
.bg-primary {
	background-color: #1E70A6 !important;
}
.text-primary {
	color: #1E70A6 !important;
}
a {
	color: #1E70A6;
	text-decoration: underline;
}
nav a {
	text-decoration: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}
.card-header a {
	text-decoration: none;
}
.font-weight-semibold {
	font-weight: 600;
}
.card-dashboard {
	border-radius: 0;
}