---
layout: default
title: Appointments
background-color: efefef
---

<ul class="nav nav-pills nav-fill mt-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sep 4</a>
  </li>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sep 5</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


  	<div class="card-deck mt-3">
  	{% for member in site.data.time-slots limit:37 offset:0 %}
  	  <div class="card">
  	  	<div class="card-body">
  	  		<p class="card-text text-muted">{{member.date}}</p>
          <h4 class="card-title">{{member.start-time}}–{{member.end-time}}</h4>
          <div class="media">
            <img class="mr-3 round" width="40" src="{{member.image}}" alt="avatar">
            <div class="media-body">  
              <p class="card-title">{{member.name}}</p>
              <p class="card-subtitle mb-2 text-muted">Academic Advisor</p>
            </div>
          </div>
  	  	</div>
  	  </div>
  	{% endfor %}
  	</div>



  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


 <div class="card-deck mt-3">
 {% for member in site.data.time-slots limit:50 offset:37 %}
   <div class="card">
  	  	<div class="card-body">
  	  		<p class="card-text text-muted">{{member.date}}</p>
          <h4 class="card-title">{{member.start-time}}–{{member.end-time}}</h4>
          <div class="media">
            <img class="mr-3 round" width="40" src="{{member.image}}" alt="avatar">
            <div class="media-body">  
              <p class="card-title">{{member.name}}</p>
              <p class="card-subtitle mb-2 text-muted">Academic Advisor</p>
            </div>
          </div>
  	  	</div>
  	  </div>
 {% endfor %}
 </div>


  </div>
</div>
